<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/app.min.css"]" />
    <ImportMap />
    <HeadOutlet />

    <script>
    
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }

    </script>
</head>

<body class="dark:bg-gray-900 antialiased">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>
